###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/config/secrets/dec/dev.decrypt.private.php
/config/reference.php
/public/bundles/
/var/
/vendor/
/public/ressources/GeoLite2-City.mmdb
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
/public/uploads
###< symfony/asset-mapper ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> deptrac/deptrac ###
/.deptrac.cache
###< deptrac/deptrac ###
/.php-cs-fixer.php
